name: deploy-book

# Only run this when the main branch changes
on:
  push:
    branches:
    - main

  pull_request:
    branches:
    - main

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    permissions:
      contents: write
      pull-requests: write 
      issues: write
      packages: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    # Install dependencies
    - name: Set up Python 3.11.5
      uses: actions/setup-python@v4
      with:
        python-version: 3.11.5

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    # Build the book
    - name: Build the book
      run: |
        jupyter-book build .

    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3
      #if: ${{ github.event_name == 'push' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: deploy
        publish_dir: ./_build/html
        deploy_key: ${{ secrets.DEPLOY_DOCS }}

        
  

